Repository phun-ky/speccer, changes with the labels that .github/labeler.yml gives for each.
All labels: section: workflows, section: repo, experience: developer, context: github, context: docker, context: npm, context: rollup, mindless: docs, mindless: dependencies

docs: ✏️ Update `README.md`
  README.md
Labels: section: repo, mindless: docs

chore: 🤖 Use `release-it` instead of `standard-version`
  .release-it.json
  package-lock.json
  package.json
Labels: section: repo, mindless: dependencies

refactor: 💡 Make sure we release on every change
  .github/workflows/publish.yml
Labels: section: workflows, context: github

fix: 🐛 Make sure we publish to npm
  .release-it.json
Labels: section: repo

feat: 🎸 Add mark feature
  README.md
  assets/mark.png
  dev/mark.html
  index.d.ts
  speccer.css
  speccer.js
  speccer.js.map
  speccer.min.css
  src/helpers/dissect/styles.ts
  src/index.ts
  src/styles/index.styl
  src/styles/mark.styl
  src/tasks/mark.ts
  src/types/bezier.ts
Labels: section: repo, mindless: docs

fix: 🐛 skipChecks for npm publish
  .release-it.json
Labels: section: repo

chore: 🤖 Add correct types of commits to preset
  .release-it.json
Labels: section: repo

Update publish.yml
  .github/workflows/publish.yml
Labels: section: workflows, context: github

chore: 🤖 release v6.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: section: repo, mindless: docs, mindless: dependencies

Update publish.yml
  .github/workflows/publish.yml
Labels: section: workflows, context: github

feat: 🎸 Add logos
  public/logo-speccer-black.svg
  public/logo-speccer-colored-dark.svg
  public/logo-speccer-colored-light.svg
  public/logo-speccer-symbol.svg
  public/logo-speccer-white.svg
  public/logo.svg
Labels: none

refactor: 💡 Add more inline documentation and updated some
  src/config/browser.ts
  src/features/dissect/index.ts
  src/features/dissect/utils/styles.ts
  src/features/mark/index.ts
  src/features/measure/index.ts
  src/features/spacing/index.ts
  src/features/spacing/utils/position.ts
  src/features/typography/index.ts
  src/features/typography/utils/position.ts
  src/features/typography/utils/template.ts
  src/main.ts
  src/utils/angle.ts
  src/utils/area.ts
  src/utils/attributes.ts
  src/utils/bezier.ts
  src/utils/cardinal.ts
  src/utils/classnames.ts
  src/utils/constants.ts
  src/utils/coords.ts
  src/utils/css.ts
  src/utils/debounce.ts
  src/utils/direction-of-element.ts
  src/utils/get-coords-pair-from-objects.ts
  src/utils/id.ts
  src/utils/intrinsic-coords.ts
  src/utils/node.ts
  src/utils/number.ts
  src/utils/position.ts
  src/utils/resize.ts
  src/utils/styles.ts
  src/utils/wait.ts
  src/utils/xy.ts
Labels: none

chore: 🤖 Adjust tsconfig
  tsconfig.json
Labels: section: repo

chore: 🤖 Remove old `index.d.ts` file
  index.d.ts
Labels: section: repo

chore: 🤖 Do not hide chores
  .release-it.json
Labels: section: repo

chore: 🤖 build
  main.d.ts
  speccer.js
  speccer.js.map
Labels: section: repo

fix: 🐛 Fix release
  .release-it.json
Labels: section: repo

chore: 🤖 release v7.0.0
  CHANGELOG.md
  api/modules/config_browser.md
  api/modules/features_dissect.md
  api/modules/features_dissect_utils_styles.md
  api/modules/features_mark.md
  api/modules/features_measure.md
  api/modules/features_spacing.md
  api/modules/features_spacing_utils_position.md
  api/modules/features_typography.md
  api/modules/features_typography_utils_position.md
  api/modules/features_typography_utils_template.md
  api/modules/main.md
  package-lock.json
  package.json
Labels: section: repo, mindless: docs, mindless: dependencies

Update publish.yml
  .github/workflows/publish.yml
Labels: section: workflows, context: github

chore: 🤖 release v7.0.0
  CHANGELOG.md
  api/modules/config_browser.md
  api/modules/features_dissect.md
  api/modules/features_dissect_utils_styles.md
  api/modules/features_mark.md
  api/modules/features_measure.md
  api/modules/features_spacing.md
  api/modules/features_spacing_utils_position.md
  api/modules/features_typography.md
  api/modules/features_typography_utils_position.md
  api/modules/features_typography_utils_template.md
  api/modules/main.md
  package-lock.json
  package.json
Labels: section: repo, mindless: docs, mindless: dependencies

chore: 🤖 Fix changelog header
  .release-it.json
  CHANGELOG.md
Labels: section: repo, mindless: docs

docs: ✏️ Fix typo and update logo
  README.md
Labels: section: repo, mindless: docs

chore: 🤖 Add more logos
  public/logo-speccer-colored-package.svg
  public/logo-speccer-horizontal-colored-dark.svg
  public/logo-speccer-horizontal-colored-package.svg
Labels: none

fix: 🐛 Use correct name for `*.d.ts` file, update `README.md`
  README.md
  main.d.ts
  package.json
  rollup.config.js
Labels: section: repo, context: rollup, mindless: docs

chore: 🤖 release v8.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: section: repo, mindless: docs, mindless: dependencies

chore: 🤖 release v8.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: section: repo, mindless: docs, mindless: dependencies

fix: 🐛 Onlu publish on actual change
  .github/workflows/publish.yml
Labels: section: workflows, context: github

fix: 🐛 Use better css scope
  README.md
  dev/anatomy.html
  dev/index.html
  dev/themes.html
  speccer.css
  speccer.d.ts
  speccer.js
  speccer.js.map
  speccer.min.css
  src/features/dissect/index.ts
  src/features/mark/index.ts
  src/features/measure/index.ts
  src/features/spacing/index.ts
  src/features/typography/index.ts
  src/styles/anatomy.styl
  src/styles/index.styl
  src/styles/mark.styl
  src/styles/measure.styl
  src/styles/spacing.styl
  src/styles/typography.styl
Labels: section: repo, mindless: docs

chore: 🤖 release v8.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: section: repo, mindless: docs, mindless: dependencies

fix: 🐛 Only remove scoped elements
  src/main.ts
Labels: none

fix: 🐛 Set max-width on typography box
  src/styles/typography.styl
Labels: none

chore: 🤖 release v8.0.3
  CHANGELOG.md
  package-lock.json
  package.json
  speccer.css
  speccer.js
  speccer.js.map
  speccer.min.css
Labels: section: repo, mindless: docs, mindless: dependencies

test: 💍 Add tests
  .github/workflows/check.yml
  jest.config.ts
  package-lock.json
  package.json
  src/utils/__tests__/angle.ts
  src/utils/__tests__/area.ts
  src/utils/__tests__/attributes.ts
  src/utils/__tests__/bezier.ts
  src/utils/__tests__/cardinal.ts
  src/utils/__tests__/classnames.ts
  src/utils/__tests__/coords.ts
  src/utils/__tests__/css.ts
  src/utils/__tests__/debounce.ts
  src/utils/__tests__/direction-of-element.ts
  src/utils/__tests__/get-coords-pair-from-objects.ts
  src/utils/__tests__/id.ts
  src/utils/__tests__/intrinsic-coords.ts
  src/utils/__tests__/node.ts
  src/utils/__tests__/number.ts
  src/utils/__tests__/position.ts
  src/utils/__tests__/styles.ts
  src/utils/__tests__/wait.ts
Labels: section: workflows, section: repo, context: github, mindless: dependencies

refactor: 💡 Update `cx`
  src/types/interfaces/classnames.ts
  src/utils/classnames.ts
Labels: none

fix: 🐛 Correctly check for undefined values
  src/utils/angle.ts
Labels: none

fix: 🐛 Use correct import path
  src/utils/area.ts
Labels: none

fix: 🐛 Add back missing methods
  src/utils/xy.ts
Labels: none

fix: 🐛 Fix issues with jest/ts
  jest.config.ts
  speccer.css
  speccer.js
  speccer.js.map
  speccer.min.css
  src/utils/classnames.ts
  tsconfig.json
Labels: section: repo

chore: 🤖 release v8.0.4
  CHANGELOG.md
  api/README.md
  api/interfaces/types_interfaces_classnames.ClassNamesObjectMapInterface.md
  api/modules/types_interfaces_classnames.md
  api/modules/utils_classnames.md
  api/modules/utils_xy.md
  package-lock.json
  package.json
  speccer.js.map
Labels: section: repo, mindless: docs, mindless: dependencies

fix: 🐛 Fix curly brackets
  src/features/dissect/index.ts
  src/utils/__tests__/area.ts
  src/utils/area.ts
  src/utils/classes/DrawSVGCurlyBracket.ts
Labels: none

.github/labeler.yml:

'section: workflows':
  - .github/workflows/**
'section: repo':
  - '*'
'experience: developer':
  - 'dev'
  - '.eslintignore'
  - '.eslintrc.json'
  - '.gitignore'
  - '.npmrc'
  - '.prettierrc'
  - 'tslint.json'
  - '.stylintrc'
  - '.postcssrc.cjs'
  - '.postcssrc.js'
'context: github':
  - .github/**
'context: docker':
  - Dockerfile
'context: npm':
  - '.npmrc'
'context: rollup':
  - 'rollup.config.js'
  - 'rollup.*.config.js'
'mindless: docs':
  - '**/*.md'
'mindless: dependencies':
  - 'package-lock.json'
