Repository phun-ky/speccer, changes with the labels that .github/labeler.yml gives for each.
All labels: section: workflows, section: repo, experience: developer, context: github, context: docker, context: npm, context: rollup, mindless: docs, mindless: dependencies

fix: 🐛 Add margin and padding reset for all speccer elements
  src/styles/index.styl
Labels: none

fix: 🐛 Adjust for scroll position for curly brackets
  src/utils/bezier.ts
Labels: none

fix: 🐛 Add missing xy coord function
  src/utils/xy.ts
Labels: none

chore: 🤖 Add resets on dev file
  dev/index.html
Labels: none

fix: 🐛 Set correct height on svg canvas
  src/utils/classes/DrawSVGLine.ts
Labels: none

fix: 🐛 Set missing id
  src/utils/classes/DrawSVGLine.ts
Labels: none

chore: 🤖 build
  speccer.css
  speccer.js
  speccer.js.map
  speccer.min.css
Labels: section: repo

chore: 🤖 Add types to `package.json`
  package.json
Labels: section: repo

chore: 🤖 release v8.0.5
  CHANGELOG.md
  api/classes/utils_classes_DrawSVGCurlyBracket.DrawSVGCurlyBracket.md
  api/classes/utils_classes_DrawSVGLine.DrawSVGLine.md
  api/modules/utils_area.md
  api/modules/utils_xy.md
  package-lock.json
  package.json
Labels: section: repo, mindless: docs, mindless: dependencies

Update FUNDING.yml
  .github/FUNDING.yml
Labels: context: github

docs: ✏️ Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: section: repo, mindless: docs

chore: 🤖 reinstall
  package-lock.json
Labels: section: repo, mindless: dependencies

docs: ✏️ Add `CONTRIBUTING.md`
  CONTRIBUTING.md
  README.md
Labels: section: repo, mindless: docs

chore: ✏️ Create SECURITY.md
  SECURITY.md
Labels: section: repo, mindless: docs

chore: 🤖 Update eslint
  .eslintrc
  .prettierrc
  package-lock.json
  package.json
  src/config/browser.ts
  src/features/dissect/index.ts
  src/features/dissect/utils/styles.ts
  src/features/mark/index.ts
  src/features/measure/index.ts
  src/features/spacing/index.ts
  src/features/spacing/utils/position.ts
  src/features/typography/index.ts
  src/features/typography/utils/position.ts
  src/main.ts
  src/types/bezier.ts
  src/types/enums/area.ts
  src/utils/__tests__/cardinal.ts
  src/utils/__tests__/css.ts
  src/utils/__tests__/id.ts
  src/utils/__tests__/intrinsic-coords.ts
  src/utils/__tests__/node.ts
  src/utils/__tests__/styles.ts
  src/utils/__tests__/wait.ts
  src/utils/bezier.ts
  src/utils/classes/DrawSVGCurlyBracket.ts
  src/utils/classes/DrawSVGLine.ts
  src/utils/constants.ts
  src/utils/css.ts
  src/utils/debounce.ts
  src/utils/position.ts
  src/utils/resize.ts
  tsconfig.json
Labels: section: repo, experience: developer, mindless: dependencies

style: 💄 Format with putout
  package-lock.json
  package.json
  speccer.d.ts
  speccer.js
  speccer.js.map
  src/config/browser.ts
  src/features/dissect/index.ts
  src/features/mark/index.ts
  src/features/measure/index.ts
  src/features/spacing/index.ts
  src/features/spacing/utils/position.ts
  src/features/typography/index.ts
  src/features/typography/utils/position.ts
  src/features/typography/utils/template.ts
  src/main.ts
  src/utils/__tests__/bezier.ts
  src/utils/__tests__/node.ts
  src/utils/__tests__/position.ts
  src/utils/angle.ts
  src/utils/attributes.ts
  src/utils/bezier.ts
  src/utils/cardinal.ts
  src/utils/classes/DrawSVGCurlyBracket.ts
  src/utils/classes/DrawSVGLine.ts
  src/utils/classnames.ts
  src/utils/constants.ts
  src/utils/css.ts
  src/utils/debounce.ts
  src/utils/get-coords-pair-from-objects.ts
  src/utils/id.ts
  src/utils/intrinsic-coords.ts
  src/utils/node.ts
  src/utils/number.ts
  src/utils/position.ts
  src/utils/resize.ts
  src/utils/styles.ts
  src/utils/typeof/index.ts
Labels: section: repo, mindless: dependencies

chore: 🤖 release v8.0.6
  CHANGELOG.md
  api/README.md
  api/classes/utils_classes_DrawSVGCurlyBracket.DrawSVGCurlyBracket.md
  api/classes/utils_classes_DrawSVGLine.DrawSVGLine.md
  api/interfaces/types_interfaces_position.GetRecPropertiesInterface.md
  api/modules/config_browser.md
  api/modules/features_dissect.md
  api/modules/features_dissect_utils_styles.md
  api/modules/features_mark.md
  api/modules/features_measure.md
  api/modules/features_spacing.md
  api/modules/features_spacing_utils_position.md
  api/modules/features_typography.md
  api/modules/features_typography_utils_position.md
  api/modules/features_typography_utils_template.md
  api/modules/main.md
  api/modules/types_bezier.md
  api/modules/types_debounce.md
  api/modules/types_interfaces_classnames.md
  api/modules/types_position.md
  api/modules/utils_angle.md
  api/modules/utils_attributes.md
  api/modules/utils_bezier.md
  api/modules/utils_cardinal.md
  api/modules/utils_constants.md
  api/modules/utils_coords.md
  api/modules/utils_debounce.md
  api/modules/utils_direction_of_element.md
  api/modules/utils_get_coords_pair_from_objects.md
  api/modules/utils_id.md
  api/modules/utils_intrinsic_coords.md
  api/modules/utils_node.md
  api/modules/utils_number.md
  api/modules/utils_position.md
  api/modules/utils_resize.md
  api/modules/utils_styles.md
  api/modules/utils_wait.md
  api/modules/utils_xy.md
  package-lock.json
  package.json
Labels: section: repo, mindless: docs, mindless: dependencies

.github/labeler.yml:

'section: workflows':
  - .github/workflows/**
'section: repo':
  - '*'
'experience: developer':
  - 'dev'
  - '.eslintignore'
  - '.eslintrc.json'
  - '.gitignore'
  - '.npmrc'
  - '.prettierrc'
  - 'tslint.json'
  - '.stylintrc'
  - '.postcssrc.cjs'
  - '.postcssrc.js'
'context: github':
  - .github/**
'context: docker':
  - Dockerfile
'context: npm':
  - '.npmrc'
'context: rollup':
  - 'rollup.config.js'
  - 'rollup.*.config.js'
'mindless: docs':
  - '**/*.md'
'mindless: dependencies':
  - 'package-lock.json'
